header {
  background-color: #93e6f4;
  height: 150px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }
  header #header-principal {
    background-color: black; }
    header #header-principal #contenedor-logo p {
      background-color: #93e6f4;
      color: black;
      font-size: 50px;
      line-height: 50px;
      font-weight: 700;
      font-family: cursive;
      margin-left: 5px;
      margin-top: 30px;
      border-radius: 10px;
      margin-left: 12px; }
    header #header-principal #contenedor-titulo div {
      margin-top: 10px; }
      header #header-principal #contenedor-titulo div div {
        background-color: black; }
        header #header-principal #contenedor-titulo div div p {
          background-color: #93e6f4;
          font-size: 50px;
          line-height: 70px;
          font-weight: 700;
          color: black;
          font-style: italic;
          font-family: Georgia, 'Times New Roman', Times, serif;
          text-align: center;
          margin-left: 190px;
          margin-right: 190px;
          border-radius: 10px; }
    header #header-principal #contenedor-login-carrito-sucursales ul {
      display: flex;
      justify-content: space-around;
      text-decoration: none;
      margin-top: 43px;
      margin-right: 0;
      height: 20px; }
      header #header-principal #contenedor-login-carrito-sucursales ul li {
        margin-right: 20px;
        color: black;
        list-style: none;
        font-size: 18px;
        text-decoration: none;
        border-radius: 10px;
        padding: 0 6px;
        line-height: 20px; }
        header #header-principal #contenedor-login-carrito-sucursales ul li:hover {
          background-color: #36363f; }
        header #header-principal #contenedor-login-carrito-sucursales ul li a {
          text-decoration: none;
          color: white; }
  header #header-secundario {
    margin: 0 5px; }

@media (max-width: 768px) {
  header {
    height: 170px; }
    header #header-principal #contenedor-logo p {
      font-size: 26px;
      line-height: 30px;
      margin-top: 20px;
      margin-left: 4px;
      padding: 6PX 0; }
    header #header-principal #contenedor-titulo div div p {
      font-size: 30px;
      line-height: 50px;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px; }
    header #header-principal #contenedor-login-carrito-sucursales ul {
      margin-top: 0px;
      margin-right: 0;
      height: 20px; }
      header #header-principal #contenedor-login-carrito-sucursales ul li {
        font-size: 18px; } }

footer {
  background-color: black; }
  footer .box-footer {
    height: 40px;
    margin: 10px;
    border-radius: 15%; }
  footer p {
    text-align: center; }
  footer a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    color: white; }
    footer a:hover {
      color: gray; }

@media (max-width: 768px) {
  footer .box-footer {
    height: 20px;
    margin: 5px; }
    footer .box-footer a {
      font-size: 16px;
      line-height: 20px; } }

main {
  margin-top: 160px; }
  main .container #box-titulo-portada {
    margin-top: 20px;
    padding: 10px;
    border-radius: 1%;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    height: 45px;
    line-height: 45px; }
    main .container #box-titulo-portada h3 {
      line-height: 22px;
      text-align: center;
      font-family: times;
      font-weight: 600; }
  main .container #carouselExampleIndicators-compra {
    height: 314px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    border: solid 1px;
    z-index: 0; }
  main .container .carousel-inner div .img-carrusel {
    width: 100%;
    height: 100%; }
  main .container .carousel-control-prev,
  main .container .carousel-control-next {
    z-index: 0; }
  main .container .carousel-inner {
    height: 100%;
    width: 100%; }
  main .container #box-titulo-productos-destacados {
    margin-top: 50px; }
    main .container #box-titulo-productos-destacados h3 {
      font-size: 24px;
      font-family: times;
      font-weight: 600; }
  main .container-fluid #prod-destacados {
    margin: 5px 5px; }
    main .container-fluid #prod-destacados div .box-prod-individual {
      border: solid 1px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: white; }
      main .container-fluid #prod-destacados div .box-prod-individual:hover {
        opacity: 0.8; }
      main .container-fluid #prod-destacados div .box-prod-individual .box-prod {
        height: 150px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center; }
        main .container-fluid #prod-destacados div .box-prod-individual .box-prod .prod-img {
          width: 100px;
          height: 100%;
          padding: 5px 0; }
          main .container-fluid #prod-destacados div .box-prod-individual .box-prod .prod-img:hover {
            width: 105px;
            height: 105%; }
      main .container-fluid #prod-destacados div .box-prod-individual .tarj-prod {
        text-align: center;
        line-height: 8px;
        font-family: verdana; }

@media (max-width: 768px) {
  main {
    margin-top: 175px; }
    main .container #box-titulo-portada {
      background-color: #93e6f4;
      margin-top: 40px;
      padding: 10px;
      border-radius: 1%;
      margin-left: 0;
      margin-right: 0;
      margin: auto;
      height: 45px;
      line-height: 45px; }
      main .container #box-titulo-portada h3 {
        line-height: 22px;
        text-align: center; }
    main .container #carouselExampleIndicators-compra {
      height: 214px; }
    main .container #box-titulo-productos-destacados {
      margin-top: 50px; }
      main .container #box-titulo-productos-destacados h3 {
        font-size: 20px; }
    main .container .carousel-inner {
      height: 100%;
      width: 100%; }
    main #titulo-prod-destacados h3 {
      line-height: 20px; }
    main .container-fluid #prod-destacados {
      margin: 5px 5px; }
      main .container-fluid #prod-destacados div .box-prod-individual {
        border: solid 1px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: white; }
        main .container-fluid #prod-destacados div .box-prod-individual .box-prod {
          height: 150px;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center; }
          main .container-fluid #prod-destacados div .box-prod-individual .box-prod .prod-img {
            width: 100px;
            height: 100%;
            padding: 5px 0; }
        main .container-fluid #prod-destacados div .box-prod-individual .tarj-prod {
          text-align: center;
          line-height: 8px; } }

main {
  background-color: #93e6f4; }
  main div .row h1 {
    font-size: 22px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 600;
    font-family: times; }
  main div .row #fondo-formulario {
    border: solid 1px; }

@media (max-width: 768px) {
  main {
    background-color: #93e6f4; }
    main div .row h1 {
      line-height: 26px; } }

main .container h1 {
  font-size: 44px;
  text-align: center;
  font-family: times;
  font-weight: 600; }

main .container p {
  text-align: center; }
  main .container p img {
    height: 300px;
    width: 600px; }

main .container .container-info div {
  border: solid 1px;
  margin: 5px 0;
  background-color: white; }
  main .container .container-info div h3 {
    margin-left: 5px;
    font-family: times;
    font-weight: 600; }
  main .container .container-info div p {
    margin-left: 15px;
    text-align: left;
    font-family: verdana; }

@media (max-width: 768px) {
  main .container h1 {
    font-size: 36px;
    text-align: center; }
  main .container p {
    text-align: center; }
    main .container p img {
      height: 200px;
      width: 320px; } }

main .contenedor-principal {
  margin-left: 0;
  margin-right: 0;
  margin: auto; }
  main .contenedor-principal h1 {
    text-align: center;
    font-size: 36px;
    height: 45px;
    line-height: 45px;
    font-family: typography_primary;
    font-weight: 600; }
  main .contenedor-principal .contenedor-legales-sub .contenedor-individual-sub {
    border: solid 1px;
    margin: 5px 5px;
    background-color: white; }
    main .contenedor-principal .contenedor-legales-sub .contenedor-individual-sub h3 {
      margin-left: 5px;
      font-family: times;
      font-weight: 600; }
    main .contenedor-principal .contenedor-legales-sub .contenedor-individual-sub p {
      margin-left: 15px;
      font-family: verdana; }

main .container .row h3 {
  font-size: 34px;
  text-align: center;
  line-height: 70px;
  font-family: typography_primary;
  font-weight: 600; }

main .container #contenedor-tarj-fp {
  border: solid 1px; }
  main .container #contenedor-tarj-fp div .box-main {
    height: 390px;
    background-color: white;
    margin: 20px 0;
    border-radius: 4px;
    border: solid 0.5px; }
    main .container #contenedor-tarj-fp div .box-main h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: 26px; }
    main .container #contenedor-tarj-fp div .box-main p {
      text-align: center;
      font-family: verdana; }
      main .container #contenedor-tarj-fp div .box-main p .img-fp {
        height: 150px;
        width: 150px; }
      main .container #contenedor-tarj-fp div .box-main p #img-fp-re {
        height: 150px;
        width: 150px; }
      main .container #contenedor-tarj-fp div .box-main p #img-fp-casa {
        height: 170px;
        width: 300px; }
    main .container #contenedor-tarj-fp div .box-main .cont-fp {
      text-align: left;
      margin-left: 10px;
      margin-right: 5px; }

@media (max-width: 768px) {
  main .container .row h3 {
    line-height: 26px; } }

main .container-fluid .row #fondoVistaCompra {
  background-color: white; }
  main .container-fluid .row #fondoVistaCompra h1 {
    text-align: center;
    font-family: times;
    font-weight: 500;
    color: black;
    background-color: white;
    font-size: 40px; }
  main .container-fluid .row #fondoVistaCompra .container__slider {
    max-width: 500px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px; }
    main .container-fluid .row #fondoVistaCompra .container__slider .container {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .container-fluid .row #fondoVistaCompra .container__slider .container input[type=radio] {
        display: none; }
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-2:checked ~ .cards #selector-1,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-1:checked ~ .cards #selector-3,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-3:checked ~ .cards #selector-2 {
        transform: translateX(-80%);
        scale: 0.8;
        z-index: 0;
        opacity: 0.6; }
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-3:checked ~ .cards #selector-1,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-1:checked ~ .cards #selector-2,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-2:checked ~ .cards #selector-3 {
        transform: translateX(80%);
        scale: 0.8;
        z-index: 0;
        opacity: 0.6; }
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-1:checked ~ .cards #selector-1,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-2:checked ~ .cards #selector-2,
      main .container-fluid .row #fondoVistaCompra .container__slider .container #item-3:checked ~ .cards #selector-3 {
        transform: translateX(0);
        scale: 1;
        z-index: 1; }
      main .container-fluid .row #fondoVistaCompra .container__slider .container .cards {
        position: relative;
        width: 100%;
        height: 100%; }
        main .container-fluid .row #fondoVistaCompra .container__slider .container .cards .card {
          position: absolute;
          width: 60%;
          height: 100%;
          left: 0;
          right: 0;
          margin: auto;
          cursor: pointer;
          transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44 1); }
          main .container-fluid .row #fondoVistaCompra .container__slider .container .cards .card .img-compra {
            width: 100%;
            height: 100%;
            border-radius: 2%;
            object-fit: cover; }

main .container-fluid .row #compraPago {
  background-color: white; }
  main .container-fluid .row #compraPago h3 {
    font-size: 26px;
    font-family: verdana; }
  main .container-fluid .row #compraPago #precio-compra {
    display: flex;
    height: 40px; }
    main .container-fluid .row #compraPago #precio-compra #detalleCompra-1 {
      text-decoration: line-through;
      display: inline;
      line-height: 20px; }
    main .container-fluid .row #compraPago #precio-compra #detalleCompra-2 {
      border-radius: 30%;
      display: inline;
      line-height: 20px;
      background-color: green; }
    main .container-fluid .row #compraPago #precio-compra #detalleCompra-3 {
      font-size: 28px;
      line-height: 20px; }

main #caracteristicas .row #descripciones p {
  text-align: center;
  font-size: 26px;
  font-family: times; }

main #caracteristicas #grilla {
  background-color: white; }
  main #caracteristicas #grilla #concepto {
    background-color: white; }
    main #caracteristicas #grilla #concepto p {
      text-align: right;
      font-family: verdana; }
  main #caracteristicas #grilla #detalle {
    background-color: white;
    font-family: verdana; }

@media (max-width: 768px) {
  main .container-fluid .row #fondoVistaCompra {
    margin: 5px 0; }
  main .container-fluid .row #compraPago {
    margin-bottom: 15px; } }

main #box-titulo h1 {
  font-size: 22px;
  font-family: times;
  font-weight: 600; }

main #contenedor-principal {
  margin-top: 20px;
  margin-bottom: 10px; }
  main #contenedor-principal #row {
    border: solid 1px; }
    main #contenedor-principal #row #contenedor-box-filtro {
      border-right: solid 1px; }
      main #contenedor-principal #row #contenedor-box-filtro label {
        font-size: 16px;
        line-height: 8px; }
      main #contenedor-principal #row #contenedor-box-filtro #filtro {
        display: none; }
      main #contenedor-principal #row #contenedor-box-filtro .filtros .box-filtro {
        background-color: white;
        border: solid 1px;
        margin-bottom: 2px; }
        main #contenedor-principal #row #contenedor-box-filtro .filtros .box-filtro h4 {
          margin-bottom: 0px; }
      main #contenedor-principal #row #contenedor-box-filtro .filtros .aplicar {
        background-color: black; }
        main #contenedor-principal #row #contenedor-box-filtro .filtros .aplicar p {
          background-color: #93e6f4; }
          main #contenedor-principal #row #contenedor-box-filtro .filtros .aplicar p button {
            margin-right: 0px; }
    main #contenedor-principal #row #contenedor-box-muebles {
      display: flex;
      flex-wrap: wrap; }
      main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global {
        height: 200px;
        width: 180px;
        background-color: white;
        border: solid 1px;
        margin-top: 5px; }
        main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div {
          width: 160px;
          height: 160px;
          margin-left: 0;
          margin-right: 0;
          margin: auto; }
          main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-img {
            width: 150px;
            height: 150px;
            margin-left: 0;
            margin-right: 0;
            margin: auto; }
            main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-img a .mueble-img {
              width: 150px;
              height: 150px; }
              main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-img a .mueble-img:hover {
                opacity: 0.8;
                height: 155px;
                width: 155px; }
          main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-p {
            height: 50px; }
            main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-p .uno {
              margin-top: 5px;
              margin-bottom: 4px; }
            main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-p .uno, main #contenedor-principal #row #contenedor-box-muebles #box-muebles-global div .contenedor-p .dos {
              height: 15px;
              line-height: 8px;
              font-family: verdana; }

@media (max-width: 768px) {
  main #box-titulo h1 {
    font-size: 20px; }
  main .container #row {
    border: solid 1px; }
    main .container #row #contenedor-box-filtro {
      border: solid 1px; }
      main .container #row #contenedor-box-filtro #filtro {
        display: none; }
        main .container #row #contenedor-box-filtro #filtro:checked ~ .filtros {
          display: block;
          height: 100vh; }
      main .container #row #contenedor-box-filtro .filtros {
        display: none; }
        main .container #row #contenedor-box-filtro .filtros h4 {
          margin-bottom: 6px;
          height: 50px;
          font-size: 40px; }
        main .container #row #contenedor-box-filtro .filtros label {
          font-size: 26px;
          line-height: 13px; }
  main .container #contenedor-box-muebles {
    display: flex;
    flex-wrap: wrap; }
    main .container #contenedor-box-muebles #box-muebles-global {
      height: 180px;
      width: 150px;
      background-color: white;
      border: solid 1px;
      margin-top: 5px; }
      main .container #contenedor-box-muebles #box-muebles-global div {
        width: 140px;
        height: 160px; }
        main .container #contenedor-box-muebles #box-muebles-global div .contenedor-img {
          width: 140px;
          height: 150px;
          margin-left: 0;
          margin-right: 0;
          margin: auto; }
          main .container #contenedor-box-muebles #box-muebles-global div .contenedor-img a .mueble-img {
            width: 140px;
            height: 140px; }
        main .container #contenedor-box-muebles #box-muebles-global div .contenedor-p {
          height: 50px;
          line-height: 0px; }
          main .container #contenedor-box-muebles #box-muebles-global div .contenedor-p .uno {
            color: black;
            height: 15px;
            line-height: 8px;
            margin-bottom: 4px; }
          main .container #contenedor-box-muebles #box-muebles-global div .contenedor-p .dos {
            color: black;
            height: 15px;
            line-height: 8px; } }
