main{
    .container-fluid{
        .row{
            #fondoVistaCompra{
                
                background-color: $color_secundario;
                h1{
                    text-align: center;
                    font-family:$typography_primary;
                    font-weight: 500;
                    color: black;
                    background-color: white;
                    font-size: 40px;
                }
                .container__slider{
                    max-width: 500px;
                    height: 300px;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 20px;
                    .container{
                        width: 100%;
                        height: 100%;
                        transform-style: preserve-3d;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input[type=radio]{
                            display:none;
                         }
                        #item-2:checked ~ .cards #selector-1,
                        #item-1:checked ~ .cards #selector-3,
                        #item-3:checked ~ .cards #selector-2{
                            transform: translateX(-80%); scale: 0.8;
                            z-index: 0;
                            opacity: 0.6;
                        }
                        #item-3:checked ~ .cards #selector-1,
                        #item-1:checked ~ .cards #selector-2,
                        #item-2:checked ~ .cards #selector-3{
                            transform: translateX(80%); scale: 0.8;
                            z-index: 0;
                            opacity: 0.6;
                        }
                        #item-1:checked ~ .cards #selector-1,
                        #item-2:checked ~ .cards #selector-2,
                        #item-3:checked ~ .cards #selector-3{
                            transform: translateX(0); scale: 1;
                            z-index: 1;
                            }

                         .cards{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            .card{
                                position: absolute;
                                width: 60%;
                                height: 100%;
                                left: 0;
                                right: 0;
                                margin: auto;
                                cursor: pointer;
                                transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44 1);
                                .img-compra{
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 2%;
                                    object-fit:cover ;
                                 } 
                             }
                        
                         }
                    
                     }
                 }

            }
            #compraPago{
                background-color: $color_secundario;
                h3{
                    font-size: 26px;
                    font-family: $typography_secundary;
                }
                #precio-compra{
                    display: flex;
                    height: 40px;
                    #detalleCompra-1{
                        text-decoration: line-through;
                        display: inline;
                        line-height: 20px;
                     }
                     #detalleCompra-2{
                        border-radius: 30%;
                        display: inline;
                        line-height: 20px;
                        background-color: green;
                     }
                     #detalleCompra-3{
                        font-size: 28px;
                        line-height: 20px;
                     }
                 }
             }
        }
    }
    #caracteristicas{
        .row{
            #descripciones{
                p{
                    text-align: center;
                    font-size: 26px;
                    font-family: $typography_primary;
                    
                    
                }
            }
            
        }
        #grilla{
            background-color: $color_secundario;
            #concepto{
                background-color:$color_secundario;
               p{
                   text-align: right;
                   font-family: $typography_secundary;
               }
           }
           #detalle{
               background-color: $color_secundario;
               font-family: $typography_secundary;
           }
        }
    }
}



@media (max-width: 768px){
    main{
        .container-fluid{
            .row{
                #fondoVistaCompra{
                    margin:5px 0;
                }
                #compraPago{
                    margin-bottom: 15px;
                }}}}}

                    
                   
                            

    
 









