main{
    background-color: $color_terciario;
    div{
        .row{
            h1{
                font-size: 22px;
                height: 45px;
                line-height:45px;
                text-align: center;
                font-weight: 600;
                font-family: $typography_primary;
        }
        #fondo-formulario{
            border: solid 1px;
        }
        
        }

    }
}



@media (max-width: 768px){
    main{
        background-color: $color_terciario;
        div{
            .row{
                h1{
                    line-height:26px;
                }
            }
        }
        
    }
}
            
    


                
                
                
        
            
    
    
 










