main{
    .container{
        .row{
            h3{
                font-size: 34px;
                text-align: center;
                line-height: 70px;
                font-family: typography_primary;
                font-weight: 600;
            }
        }
        #contenedor-tarj-fp{
            border: solid 1px;
            div{
                .box-main{
                    height: 390px;
                    background-color: $color_secundario;
                    margin: 20px 0;
                    border-radius: 4px;
                    border: solid 0.5px;
                    h3{
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 26px;
                    }
                    p{
                        text-align: center;
                        font-family: $typography_secundary;
                        .img-fp{
                            height: 150px;
                            width: 150px;
                        }
                        #img-fp-re{
                            height: 150px;
                            width: 150px;
                        }
                        #img-fp-casa{
                            height: 170px;
                            width: 300px;
                        }

                    }
                    .cont-fp{
                        text-align: left;
                        margin-left: 10px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px){
    main{
        .container{
            .row{
                h3{
                    line-height: 26px;
                }
            }
            
        }
    }
}
    






