main{
    .contenedor-principal{
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        h1{
            text-align: center;
            font-size: 36px;
            height: 45px;
            line-height: 45px;
            font-family:typography_primary ;
            font-weight: 600;
        }
        .contenedor-legales-sub{
                .contenedor-individual-sub{
                    border: solid 1px;
                    margin: 5px 5px;
                    background-color: $color_secundario;
                
                h3{
                    margin-left: 5px;
                    font-family: $typography_primary;
                    font-weight: 600;
                }
                p{
                    margin-left: 15px;
                    font-family: $typography_secundary;
                }
            }
        }
    }}








