main{
    #box-titulo{
        // background-color: blue;
        h1{
            // background-color: brown;
            font-size: 22px;
        }
    }
    #contenedor-principal{
        // background-color: orange;
        margin-top: 20px;
        margin-bottom: 10px;
        #row{
            // background-color: red;
            border: solid 1px;
            
                #contenedor-box-filtro{
                    border-right: solid 1px;
                    // background-color:green;
                    label{
                        font-size: 16px;
                        line-height: 8px;
                    }
                    #filtro{
                        display: none;
                    }
                    .fede{
                        // background-color: aqua;
                        
                
                  
                    
                    .box-filtro{
                         background-color: white;
                        border: solid 1px;
                        margin-bottom: 2px;
                        
                        h4{
                            margin-bottom: 0px
                        }
                        }
                    
                    .aplicar{
                        
                        background-color: black;
                        p{
                            background-color: $color_terciario;
                            
                            button{
                                margin-right: 0px;
                            }
                        }
                    }}}
            #contenedor-box-muebles{
                // background-color: aqua;
                display: flex;
                flex-wrap: wrap;
                
                #box-muebles-global{
                    height: 220px;
                    width: 220px;
                    background-color: white;
                    border: solid 1px;
                    margin-top: 5px;
                    
                    div{
                        // background-color: orange;
                        width: 200px;
                        height: 200px;
                        margin-left: 0;
                        margin-right: 0;
                        
                        margin: auto;
                        .contenedor-img{
                            // background-color: black;
                            width: 150px;
                            height: 150px;
                            margin-left: 0;
                            margin-right: 0;
                            margin: auto;
                            a{
                                .mueble-img{
                                    width: 150px;
                                    height: 150px;
                                    
                                    &:hover{
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                        .contenedor-p{
                            // background-color: yellow;
                            height: 50px;
                            line-height: 0px;
                        .uno{
                            color: black;
                            height: 15px;
                            
                            // background-color: white;
                            // border: solid 1px;
                            width: 90%;
                            line-height: 8px;
                            margin-bottom: 4px;
                        }
                        .dos{
                            color: black;
                            height: 15px;
                            // border: solid 1px;
                            width: 90%;
                            line-height: 8px;
                            
                            
                        }
                    }   }
                    }
                }
            }}}
            
            @media (max-width: 768px){
                main{
                    #box-titulo{
                        
                        h1{
                            
                            font-size: 20px;
                        }
                    }
                    .container{
                        #row{
                            border: solid 1px;
                                #contenedor-box-filtro{
                                    border: solid 1px;
                                    #filtro{
                                        display: none;
                                        &:checked ~ .fede{
                                            display: block;
                                            height: 100vh;
                                        }
                                    }
                                    .fede{
                                        display: none;
                                        h4{
                                            margin-bottom: 6px;
                                            height: 50px;
                                            font-size: 48px;
                                            
                                        }
                                        label{
                                            font-size: 26px;
                                            line-height: 13px;
                                            
                                        }
                                        }
                                    
                                    }}
                                    #contenedor-box-muebles{
                                        // background-color: aqua;
                                        display: flex;
                                        flex-wrap: wrap;
                                        
                                        #box-muebles-global{
                                            height: 180px;
                                            width: 150px;
                                            background-color: white;
                                            border: solid 1px;
                                            margin-top: 5px;
                                            
                                            div{
                                                // background-color: orange;
                                                width: 140px;
                                                height: 160px;
                                                
                                                
                                                
                                                .contenedor-img{
                                                    // background-color: black;
                                                    width: 140px;
                                                    height: 150px;
                                                    margin-left: 0;
                                                    margin-right: 0;
                                                    margin: auto;
                                                    a{
                                                        .mueble-img{
                                                            width: 140px;
                                                            height: 140px;
                                                            
                                                            
                                                        }
                                                    }
                                                }
                                                .contenedor-p{
                                                    // background-color: yellow;
                                                    height: 50px;
                                                    line-height: 0px;
                                                .uno{
                                                    color: black;
                                                    height: 15px;
                                                    
                                                    // background-color: white;
                                                    // border: solid 1px;
                                                    
                                                    line-height: 8px;
                                                    margin-bottom: 4px;
                                                }
                                                .dos{
                                                    color: black;
                                                    height: 15px;
                                                    // border: solid 1px;
                                                    
                                                    line-height: 8px;
                                                    
                                                    
                                                }
                                            }   }
                                            }
                                        }}}}
                                
            
                        
                 
                    
                    
                    
                    
                            
                        

                    
                

        
        
    
