 main{
     #box-titulo{
         h1{
             font-size: 22px;
             font-family: $typography_primary;
             font-weight:600;
         }
     }
     #contenedor-principal{
         margin-top: 20px;
         margin-bottom: 10px;
         #row{
             border: solid 1px;
                 #contenedor-box-filtro{
                     border-right: solid 1px;
                    label{
                         font-size: 16px;
                         line-height: 8px;
                     }
                     #filtro{
                         display: none;
                     }
                     .filtros{
                        .box-filtro{
                            background-color: white;
                            border: solid 1px;
                            margin-bottom: 2px;
                            h4{
                                margin-bottom: 0px
                            }
                         }
                    
                        .aplicar{
                            background-color: black;
                            p{
                                background-color: $color_terciario;
                                button{
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                }
                #contenedor-box-muebles{
                    display: flex;
                    flex-wrap: wrap;
                    
                    #box-muebles-global{
                        height: 200px;
                        width: 180px;
                        background-color: $color_secundario;
                        border: solid 1px;
                        margin-top: 5px;
                        
                        div{
                            width: 160px;
                            height: 160px;
                            margin-left: 0;
                            margin-right: 0;
                            
                            margin: auto;
                            .contenedor-img{
                                width: 150px;
                                height: 150px;
                                margin-left: 0;
                                margin-right: 0;
                                margin: auto;
                                a{
                                    .mueble-img{
                                        width: 150px;
                                        height: 150px;
                                        
                                        &:hover{
                                            opacity: 0.8;
                                            height: 155px;
                                            width: 155px;
                                        }
                                    }
                                }
                            }
                            .contenedor-p{
                                height: 50px;
                                .uno{
                                    margin-top: 5px;
                                    margin-bottom: 4px;
                                }
                                .uno, .dos{
                                    height: 15px;
                                    line-height: 8px;
                                    font-family: $typography_secundary;
                                }
                            }      
                        }
                    }
                }
            }
        }
    }
            
@media (max-width: 768px){
    main{
        #box-titulo{
            h1{
                font-size: 20px;
            }
        }
        .container{
            #row{
                border: solid 1px;
                #contenedor-box-filtro{
                    border: solid 1px;
                    #filtro{
                        display: none;
                        &:checked ~ .filtros{
                            display: block;
                            height: 100vh;
                        }
                    }
                    .filtros{
                        display: none;
                        h4{
                            margin-bottom: 6px;
                            height: 50px;
                            font-size: 40px;
                        
                        }
                        label{
                            font-size: 26px;
                            line-height: 13px;
                        }
                    }
                }
            }
            #contenedor-box-muebles{
                display: flex;
                flex-wrap: wrap;
                #box-muebles-global{
                    height: 180px;
                    width: 150px;
                    background-color: white;
                    border: solid 1px;
                    margin-top: 5px;
                    div{
                        width: 140px;
                        height: 160px;
                        .contenedor-img{
                        width: 140px;
                        height: 150px;
                        margin-left: 0;
                        margin-right: 0;
                        margin: auto;
                        a{
                            
                            .mueble-img{
                            width: 140px;
                            height: 140px;
                            }
                        }
                        }
                        .contenedor-p{
                            height: 50px;
                            line-height: 0px;
                            .uno{
                                color: black;
                                height: 15px;
                            
                            
                                line-height: 8px;
                                margin-bottom: 4px;
                            }
                            .dos{
                                color: black;
                                height: 15px;
                            
                                line-height: 8px;
                            
                        
                            }
                        }   
                    }
                }

            }
        }
    }
}
                        
    
                
            
            
            
            
            
                    
                

            
        




