main{
    .container{

    
    h1{
        font-size: 44px;
        text-align: center;
        font-family: $typography_primary;
        font-weight: 600;
    }
    p{
        text-align: center;
          img{
            height: 300px;
            width: 600px;
        }
    }
    .container-info{
        div{
            border: solid 1px;
            margin: 5px 0;
            background-color: $color_secundario;
        h3{
            margin-left: 5px;
            font-family: $typography_primary;
            font-weight: 600;
        }
        p{
            margin-left: 15px;
            text-align: left;
            font-family: $typography_secundary;
        }
    }

}}}


@media (max-width: 768px){
    main{
        .container{
    
        
        h1{
            font-size: 36px;
            text-align: center;
        }
        p{
            text-align: center;
            img{
                height: 200px;
                width: 320px;
            }
        }
        
    
    }}}
    
    
   


   








