footer{
    background-color: $color_primario;
    .box-footer{
        height: 40px;
        margin: 10px;
        border-radius: 15%;
        
        }
        p{
            text-align: center;
        }
        a{
           text-decoration: none;
            color: $color_primario;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 40px;
            color: white;
            &:hover{
                color: gray;
            }
        }
     }



     @media (max-width: 768px)
     {
        
        footer{
            .box-footer{
                height: 20px;
               
                margin: 5px;
                
                a{
                    font-size: 16px;
                    line-height: 20px;
                    
                    
                }
            }
        }
    }
        
      
    






// #footer{
//     background-color: black;
//     height: 60px;
 
//  }
//  .box-footer{
//     height: 40px;
//     background-color: antiquewhite;
//     margin: 10px;
    
//     border-radius: 15%;
//  }
//  footer div div div div a{
//     text-decoration: none;
//     color: black;
//     text-transform: uppercase;
//     font-size: 20px;
//     line-height: 40px;
//  }
//  footer div div div div a:hover{
//     color:gray;
    
//  }
//  .box-footer:hover{
//  background-color: aliceblue;
//  color: black; 
//  }