header{
   background-color: $color_terciario;
    height: 150px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    #header-principal{
      background-color: $color_primario;
      #contenedor-logo{
         p{
            background-color: $color_terciario;
            color: $color_primario;
             font-size: 50px;
             line-height: 50px;
             font-weight: 700;
             font-family:cursive;
             margin-left: 5px;
             margin-top: 30px;
             border-radius: 10px;
             margin-left: 12px;
         }
      }
      #contenedor-titulo{
         div{
            margin-top: 10px;
            div{
               background-color: black;
                p{
                  background-color: $color_terciario;
                  font-size: 50px;
                  line-height:70px;
                  font-weight: 700;
                  color: $color_primario;
                  font-style: italic;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  text-align: center;
                  margin-left: 190px;
                  margin-right: 190px;
                  border-radius: 10px;
                  }
            }
         }
      }
      #contenedor-login-carrito-sucursales{
         ul{
            display: flex;
          justify-content: space-around;
          text-decoration: none;
          margin-top: 43px;
          margin-right: 0;
          height: 20px;
            li{
               margin-right: 20px;
             color: $color_primario;
             list-style: none;
             font-size: 18px;
             text-decoration: none;
             border-radius: 10px;
             padding: 0 6px;
             line-height: 20px;
             &:hover{
               background-color:rgb(54, 54, 63)
             }
               a{
                  text-decoration: none;
                color: $color_secundario;

               }
            }
         }
      }
    }
    #header-secundario{
      margin: 0 5px;
    }
}
      
    
            
            


      


// media query

      @media (max-width: 768px){
         header{
            
             height: 170px;
             #header-principal{
               #contenedor-logo{
                  p{
                      font-size: 26px;
                      line-height: 30px;
                      margin-top: 20px;
                      margin-left: 4px;
                      padding: 6PX 0;
                  }
               }
               #contenedor-titulo{
                  div{
                     div{
                        p{
                           font-size: 30px;
                           line-height:50px;
                           margin-left: 10px;
                           margin-right: 10px;
                           border-radius: 10px;
                        }
                     }
                  }
               }
               #contenedor-login-carrito-sucursales{
                  ul{
                   margin-top: 0px;
                   margin-right: 0;
                   height: 20px;
                     li{
                      font-size: 18px;
                     }
                  }
               }
             }
            
         }
      }
        

      